.body{
    background-color: rgba(197, 195, 195, 0.507);
}
#error{
    width: 200px;
    background-color: rgb(218, 175, 175);
    color: red;
    margin: auto;
    padding: 5px;
    border-radius: 10px;
    display: none;
}